/* Bootstrap / Normalize overrides */

body {
    padding-top: 50px;
}

output {
    display: inline;
}

.well {
    min-height: 5em;
}

.well > h2 {
    /* TODO: Precisely align this text top with the toggle button, maybe via bootstrap-sass variables */
    margin-top: 0;
}

/* Bagger Styles */

/* Connection parameter entry & display */

.server-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.server-info > * {
    flex: 1;
    margin: 0;
}

.server-info form {
    flex: 1 1 100%;
}

.server-info .configuration-summary {
    display: none;
}

/* Once the connection has been validated, hide the form */

.server-info[data-status="successful"] .configuration-summary {
    display: block;
}

.server-info[data-status="successful"] form {
    display: none;
}

.server-info:not([data-status="successful"]) ~ .bag {
    display: none;
}

/* Bag Info */

.bag-info :invalid {
    border-color: red;
}

.bag-info td:last-child {
    width: 50px;
}

/* File Selection */

.dropzone {
    margin: 0;

    border: dashed #ccc 4px;
}

.dropzone:hover,
.dropzone.active {
    border: dashed #ccd 4px;
    background-color: #eef;
}

/* Upload queue management */

.transfer-management {
    display: flex;
    justify-content: space-evenly;

    margin: 1em;
}

.transfer-management .btn-block {
    max-width: 14em;
}

.transfer-management .upload-queue-active:before {
    content: "▶️ Start Uploads";
}

.transfer-management .upload-queue-active.active:before {
    content: "⏸ Pause Uploads";
}

.upload-queue-active.active {
    background: linear-gradient(270deg, #1c4466, #2d6ca3);
    background-size: 400%;

    animation: ActiveUploads 3s ease-in-out infinite;
}

@keyframes ActiveUploads {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#bagger[data-invalid-bag-name="true"] .transfer-management {
    display: none;
}

/* Bag payload display */

#bagger[data-entries="0"] .transfer-management,
#bagger[data-entries="0"] .bag-contents table {
    display: none;
}

/* We'll use table-layout:fixed to avoid massive reflow calculations */
.bag-contents table {
    table-layout: fixed;
    width: 100%;
    max-width: 90vw;
}

.bag-contents thead th.file-name {
    width: 50%;
}

.bag-contents thead th.file-size {
    width: 10%;
}

.bag-contents thead th.file-hash {
    width: 40%;
}

.bag-contents td {
    overflow: hidden;
    text-overflow: ellipsis;

    font-family: "Droid Sans Mono", monospace;
}

.bag-contents th {
    text-align: right;
}

.bag-contents th.file-name {
    text-align: left;
}

.bag-contents td.file-size {
    text-align: right;
}

.bag-finalization {
    display: none;
}

#bagger[data-active-hashes="0"][data-pending-uploads="0"]:not([data-entries="0"]):not(.finalizing)
    .bag-finalization {
    display: block;
}

/* Dashboard styles */

#bagger[data-active-hashes="0"][data-pending-uploads="0"] .dashboard {
    display: none;
}

.dashboard {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    margin: 0;
    padding: 0;

    min-height: 3.6em;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .pane {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 1em;
    position: relative;
}

.dashboard h5 {
    position: absolute;
    top: 0;
    margin: 0;
    font-size: inherit;
}

.dashboard .rate-container {
    position: absolute;
    right: 1em;
}

.dashboard meter {
    width: 100%;
    flex: 1;
}

.dashboard output {
    font-size: inherit;
    font-weight: 600;
}

/* Finalized bags allow some information to be visible but read-only */
.finalizing .dropzone,
.finalizing button {
    display: none;
}

.only-finalized {
    display: none;
}

.finalizing .only-finalized,
.finalized .only-finalized {
    display: block;
}
