body {
	padding-top: 50px;
}

#dropzone {
	border: dashed #ccc 4px;
}

#dropzone:hover,
#dropzone.active {
	border: dashed #ccd 4px;
	background-color: #eef;
}

/* We'll use table-layout fixed to avoid massive reflow calculations */
#bag-contents {
	table-layout: fixed;
	max-width: 98vw;
}

#bag-contents thead th {
	width: 20%;
}

#bag-contents thead th.file-name {
	width: 50%;
}

#bag-contents thead th.file-size {
	width: 10%;
}

#bag-contents td {
	overflow: hidden;
	text-overflow: ellipsis;
}

th {
	text-align: right;
}

th.file-name {
	text-align: left;
}

.file-size, .file-hash {
	text-align: right;
	font-family: monospace;
	font-size: small;
}

.progress-bar {
	width: 0%;
	min-width: 2em;
}
